<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"  type="text/css" href="/css/results.css" media="screen  and (min-width: 600px)"/>
<link rel="stylesheet" type="text/css" href="/css/resultsmobile.css" media="only screen and (max-width: 600px)" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">


<style>

.glyphicon {
    font-size: 50px;
}

</style>


<h2>
      <a href="https://a7-alan-angel.herokuapp.com/Sports" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-arrow-left"></span>
      </a>
    </p>    
</h2>

  <head>
    <title>The King's Avatar</title>
  </head>
  <body>
    </ul>
    <h1>The King's Avatar</h1>
    <iframe
      src="https://drive.google.com/file/d/1543SytbnZ2pPrw7B7sEQxXuqkTQnR1ZN/preview?usp=sharing"
      frameBorder="0"
      scrolling="auto"
      height="700px"
      width="100%">
    </iframe>
  </body>

 <!-- Include all compiled plugins (below), or include individual files as needed -->
 
<script src="/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>    
</html>
