<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{!-- <link rel="stylesheet" href="/public/css/w3.css"> --}} 
<link rel="stylesheet" href="/css/style.css">

<style>

h1{ 
  color: #00BFFF;
    font-size: 50px;
    font-family: Simplifica;
}


/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



.login {
    height:100%;
    width:80%;
    margin:auto;
    border:1px #CCC solid;
    padding:10px;
    background-color:#E9E9E9 

    }

input {
    background: #lightblue;
    border:1px #CCC solid;
    padding:5px;

}

</style>


<html xmins="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
   <link rel="stylesheet" type="text/css" href="login.css" />
  
  
  {{> facebook}}
  
  <script src="/js/facebook.js"></script>
   
   
   
   <title>Login form</title>
   <h1> QuicFic </h1>
</head>
   <script type="text/javascript" src='product_order.js'>
   </script>

<body >
    <div class="login">
      <p class="facebookLogin">Please login through Facebook
			  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
				</fb:login-button>
			</p>

        <a href="/">
        <button onclick="continue as Guest()">Continue as Guest</button>
        </a>
        </div>
</body>


 <!-- Include all compiled plugins (below), or include individual files as needed -->
<script>
// When the user clicks on <div>, open the popup
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>

</html>