<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/suggestions.js"></script>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.css" rel="stylesheet">
<link rel="stylesheet"  type="text/css" href="/css/results.css" media="screen  and (min-width: 600px)"/>
<link rel="stylesheet" type="text/css" href="/css/resultsmobile.css" media="only screen and (max-width: 600px)" />
<link rel="stylesheet" type="text/css" href="/css/mobile.css" media="only screen and (max-width: 600px)" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
<meta name="viewport" content="width=device-width, inital-scale=1.0">



<style>
  .chapter-button{
    border: none;
    color: rgb(112, 112, 112);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

.glyphicon {
    font-size: 30px;
}


</style>




<h2>
      <a href="https://a7-alan-angel.herokuapp.com/Fantasy" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-arrow-left"></span>
      </a>
    </p>    
</h2>

  <head>
    <title>Lore Olympus</title>
  </head>
  <body>
    </ul>
    <h1>Lore Olympus</h1>
		{{#each Chapters}}
			<a class = "chapter-button"href={{driveLink}} id="light-blue-tags" target="search_iframe">{{this.title}}</a>
		{{/each}}
	<iframe src="https://media.comicbook.com/2020/08/lore-olympus-1231544-1280x0.jpeg" frameBorder="0" scrolling="auto" height="700px" width="100%" name="search_iframe"></iframe>

  </body>

 <!-- Include all compiled plugins (below), or include individual files as needed -->
 
<script src="/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>    
</html>
