* {margin:0;padding:0}

.topbar {
  width: 100%;
  float:left;
  margin: 10px;
  clear: none;
  display: flex;
  justify-content: space-between;
}


h1{ 
  color: #00BFFF;
  font-size: 50px;

  margin-right: 5%;
  font-weight: lighter;

}




h2{ 
  color: #00BFFF;
  font-size: 22px;
  margin-top: 30px;
  margin-left: 8%;
  font-weight: lighter;
}

img.resize {
  float: right; 
  max-width: 70px;
  white-space: nowrap
}


.home-button{
  margin-right: 5%;
  float: right; 

  
}



body {

    background-color: #E9FBFF;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

input { 
  margin-bottom: 1%;
  margin-left: 1%;
  white-space: pre; 
  }



::placeholder {
  font-family: assistant;
  color: #00D1FF;
  text-align: left;


}


input.searchText {
    font-size: 25px;
    font-family: assistant;
    color: #00B7DF;
    text-align: left;
    padding-left: 15px;
    width: 100%;

}



.login {float: right; margin: 4px;}

.button{
  border: none;
  color: rgb(112, 112, 112);
  padding: 2px 32px;
  font-size: 16px;
  cursor: pointer;
  font-size: 25px;
  font-family: assistant;
  background-color: #00D1FF;
  width: auto;
  border-radius: 25px;
  color: #E9FBFF;
  font-weight: bold;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 5%;
  margin-left: 5%;

}


.requestButton{
  border: none;
  margin-left: 5%;
  color: rgb(112, 112, 112);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-size: 25px;
  font-family: assistant;
  background-color: #00D1FF;
  width: auto;
  border-radius: 25px;
  color: #E9FBFF;
  font-weight: bold;
  float: left; 
  margin-top: 50px;
  margin-right: 12%;
} /* Blue */




.topnav {
  overflow: hidden;
  background-color: #83E9FF;
  width: 110%;
  margin-top: 10px;
  margin-bottom: 10px;


}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: left;
  width: 50%;
  border: none;
  margin-top: 15px;
  margin-left: 5%;
  font-size: 17px;
  border-radius: 25px;
  height: 40px;
  font-size: 24px;
}




#light-blue-tags {
  border-radius: 35px;
  background: #BEF3FF;
  padding: 10px; 
  width: 60px;
  height: 2.5vw;  
}

#dark-blue-box{

  margin: auto;
  margin-top: 1px;
  border-radius: 35px;
  background: #00D1FF;
  padding: 10px; 
  width: 90%;
  height: 30%;  
}

#light-blue-box{
  margin: auto;
  margin-top: 1px;
  border-radius: 35px;
  background: #BEF3FF;
  padding: 10px; 
  width: 90%;
  height: 30%; 
}

#dark-blue-tags {
  border-radius: 35px;
  background: #00D1FF;
  padding: 10px; 
  width: 100px;
  height: 80px;  
}

p-button {
  display: inline-block;
  }

tag-text{
    text-align: center;
    font-family: 'Assistant';
    white-space: pre;
    font-size: 15px;
}

/* mouse over link */
#light-blue-tags:hover {
opacity: .4;
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#title-tags:hover {
  opacity: .4;
}



